
# Exercício - Compras de Ecommerce  

Neste exercício, você receberá alguns dados falsos sobre algumas compras feitas pela Amazon! Basta seguir as instruções e tente dar melhor para responder as perguntas e completar as tarefas. Sinta-se a vontade para dar uma olhada nas soluções. A maioria das tarefas pode ser resolvida de diferentes maneiras. Para a maior parte, as perguntas ficam cada vez mais difíceis.

Peço desculpas desde já por todos dados que não parecerem muito reais. São todos falsos.

Observe também que todas essas questões podem ser respondidas com uma linha de código.
____
** Importe pandas e leia o arquivo csv "Ecommerce Purchases" e configure-o para um DataFrame chamado ecom. **

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Ecommerce Purchases')

**Verifique o "head" do DataFrame.**

In [3]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** Quantas linhas e colunas existem? **

In [55]:
df.info()

9954

** Qual é o preço de compra médio? **

In [11]:
df['Purchase Price'].mean()

50.347302

** Quais foram os preços de compra mais altos e mais baixos? **

In [16]:
df['Purchase Price'].describe()[['min','max','mean']]

min      0.000000
max     99.990000
mean    50.347302
Name: Purchase Price, dtype: float64

** Quantas pessoas têm Inglês 'en' como sua língua de escolha no site? **

In [18]:
len(df[df['Language'] == 'en'])

1098

** Quantas pessoas têm o cargo de "Advogado"? **

In [32]:
len(df[df['Job'] == 'Lawyer'])

30

** Quantas pessoas fizeram a compra durante a AM e quantas pessoas fizeram a compra durante o PM? **

** (Sugestão: Confira [value_counts ()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)) **

In [33]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** Quais são os 5 títulos de trabalho mais comuns? **

In [35]:
df['Job'].value_counts()[:5]

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** Alguém fez uma compra que veio do Lot: "90 WT", qual foi o preço de compra para esta transação? **

In [43]:
df[df['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** Qual é o email da pessoa com o seguinte número do cartão de crédito: 4926535242672853 **

In [45]:
df[df['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** Quantas pessoas têm o American Express como seu fornecedor de cartão de crédito * e * fizeram uma compra acima de US $ 95? **

In [57]:
df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 95)]['Email'].nunique()

39

** Difícil: quantas pessoas tem um cartão de crédito que expira em 2025? **

In [72]:
# df['CC Exp Date']
len(df[df['CC Exp Date'].apply(lambda x: x.split('/')[1]) == '25'])
df['CC Exp Date'][df['CC Exp Date'].apply(lambda x: x.split('/')[1]) == '25'].count()

1033

** Difícil: quais são os 5 principais provedores de e-mail / hosts mais populares (por exemplo, gmail.com, yahoo.com, etc ...) **

In [68]:
df['Email'].apply(lambda x: x.split('@')[1]).value_counts()[:5]

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [69]:
df['Email'].str.replace(r'.*@','').value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [82]:
def abb(x):
    print(x)
df['Nova'] = abb
df['Nova'].values[0](df['Email'])

0                       pdunlap@yahoo.com
1                      anthony41@reed.com
2          amymiller@morales-harrison.com
3             brent16@olson-robinson.info
4             christopherwright@gmail.com
5                       ynguyen@gmail.com
6                      olivia04@yahoo.com
7                    phillip48@parks.info
8                    kdavis@rasmussen.com
9                qcoleman@hunt-huerta.com
10                   ustewart@hotmail.com
11               johnnymiller@coleman.com
12                      tholt@hotmail.com
13                    caitlin57@yahoo.com
14                       aburns@yahoo.com
15                     amanda39@yahoo.com
16            griffincatherine@wilson.com
17                 stacymitchell@hall.com
18                     hannah63@yahoo.com
19                   ruiznicole@gmail.com
20                 zstephenson@smith.info
21                     rsmith@hotmail.com
22              chambersmichael@gmail.com
23            ltaylor@gardner-meadows.com
24                      james07@yahoo.com
25                   madison41@mooney.com
26                       mlogan@gmail.com
27                  michael35@hotmail.com
28                  khandeborah@yahoo.com
29                   stonekaren@yahoo.com
                      ...
9970              rangelbrian@hotmail.com
9971            leslierichards@warner.org
9972                kellycole@hotmail.com
9973                     rlewis@yahoo.com
9974                    paula72@yahoo.com
9975                 taylordiaz@roman.net
9976                     pbrown@gmail.com
9977               daltoncarter@yahoo.com
9978                   ywhite@hotmail.com
9979                   qjohnson@yahoo.com
9980             mark74@kirby-stewart.org
9981           laurenbennett@richards.com
9982                  heather24@gmail.com
9983    jacksonmanuel@rodriguez-welch.com
9984                clee@vasquez-luna.com
9985                 cranejames@white.com
9986             belindaleon@schwartz.com
9987             denisehamilton@novak.biz
9988               hudsonmichael@pace.com
9989           walterswilliam@hotmail.com
9990          andersonmichael@sherman.biz
9991                   kking@wise-liu.com
9992                    bberry@wright.net
9993            chelseawilliams@lopez.biz
9994                   iroberts@gmail.com
9995               iscott@wade-garner.com
9996                   mary85@hotmail.com
9997                    tyler16@gmail.com
9998              elizabethmoore@reid.net
9999                rachelford@vaughn.com
Name: Email, Length: 10000, dtype: object